[submodule "catanatron"]
	path = catanatron
	url = https://github.com/mcrco/catanatron
	branch = main
[submodule "cppanatron"]
	path = cppanatron
	url = https://github.com/mcrco/cppanatron
	branch = main
